<div>
  <h1>Welcome!</h1>

  <%= link_to "Sign in",signin_path,class: "button" %><br /><br />
  <%= link_to "Sign up",signup_path,class: "button" %><br /><br />
  <%= link_to "How it works",howto_path,class: "button" %>
</div>
