<% provide :title,'About' %>
<div>
  <h1>About Pi a Day:</h1>
  <p>You seem to have stumbled upon my odd little slice of the web here. This site is not about 
    having a significant purpose. It is more of a place for me to mess around with Ruby on Rails 
    and learn about web development than anything. That said, if you enjoy pi(or any of the other 
    featured irrational numbers), by all means feel free to use this site for that purpose!</p>
</div>
