<% provide :title,"How it works" %>
<div>
  <h1>How it works</h1>
  <p>The purpose of this site is to increase the digits of pi, e, and phi(tau) that you know. In order to 
    accomplish this goal the site keeps track of the digits of each number that you know, and will present 
    you with more digits as you learn, one at a time. Once you have a digit memorized, click the "I know 
    this" button, and the site will proceed to the next digit. How you go about memorizing the digits is up to you.<br /><br />
    Periodically the site will present you with a test to see how far you have progressed, if you do not feel ready, 
    feel free to click "Skip test", though they can be helpful and it is recommended you use them. You can change 
    the amount of time between each test through editing your settings. You will find that you are learning these 
    numbers to abusrd levels of accuracy in no time!
  </p>
</div>
