<div id="ads">
</div>
<footer class="footer">
  <small>
    &copy 2012 <a href="http://www.somestupidwebsite.com">Tom McLeod</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",about_path %></li>
      <li><%= link_to "How it works",howto_path %></li>
      <li><a href="http://www.somestupidwebsite.com/email/">Contact</a></li>
    </ul>
  </nav>
</footer>
